<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table" matSort>

    <ng-container matColumnDef="dy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Day </th>
      <td mat-cell *matCellDef="let element"> {{element.dy}} </td>
    </ng-container>

    <ng-container matColumnDef="mxt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Max temperature </th>
      <td mat-cell *matCellDef="let element"> {{element.mxt}} </td>
    </ng-container>

    <ng-container matColumnDef="mnt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Min temperature </th>
      <td mat-cell *matCellDef="let element"> {{element.mnt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
