<div class="question">
  <label>Please select measurement:</label>
</div>
<div class="options">
  <input name="option" type="radio" id="fahrenheit" class="hide" [(ngModel)]="this.option" value="1"
    (change)="this.updateTemperatures()">
  <label for="fahrenheit">Fahrenheit</label>

  <input name="option" type="radio" id="celsius" class="hide" [(ngModel)]="this.option" value="2"
    (change)="this.updateTemperatures()">
  <label for="celsius">Celsius</label>
</div>

<table *ngIf="arrDays" class="temperature-table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Max temperature</th>
      <th>Min temperature</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let day of arrDays">
      <td>{{day.dy}}</td>
      <td>{{day.mxt}}</td>
      <td>{{day.mnt}}</td>
    </tr>
  </tbody>
</table>

<app-material-table [tableData]="arrDays"></app-material-table>
